<?xml version="1.0" encoding="UTF-8"?>
<DRIVEPACKED>
  <DRIVEPACKED_CONFIG>
    <SCREEN_SIZEX>1296</SCREEN_SIZEX>
    <SCREEN_SIZEY>696</SCREEN_SIZEY>
    <SCREEN_ORIGX>-8</SCREEN_ORIGX>
    <SCREEN_ORIGY>-8</SCREEN_ORIGY>
    <SCREEN_MAXIMIZED>TRUE</SCREEN_MAXIMIZED>
    <NEW_LOG_P_SESION>FALSE</NEW_LOG_P_SESION>
	<LOGS_PATH></LOGS_PATH>
    <DEFAULT_LOGS_PATH></DEFAULT_LOGS_PATH>
    <LAST_PROJ_PATH></LAST_PROJ_PATH>
    <LAST_CFG_PATH></LAST_CFG_PATH>
    <COLORSET>STANDARD</COLORSET>
  </DRIVEPACKED_CONFIG>
</DRIVEPACKED>